.profile-pic {
    max-width: 250px;
    max-height: 250px;
}

.mx-auto {
    max-width:500px;
}

.card {
    max-width: 250px;
}

.no-show {
    display:none;
}

/* Media Queries */
@media screen and (max-width: 769px) {
    .personal-info p {
        margin: 15px;
    }

    .personal-background {
        flex-direction: column;
        align-items:center;
    }
}

@media screen and (max-width: 320px) {
    .profile-pic {
        max-width: 75vw;
    }
}