@import "~bootstrap/scss/bootstrap";

$light: rgb(160, 160, 160);
$sm-square-frame: 250px;
$md-square-frame: 500px;

.profile-pic {
	max-width: $sm-square-frame;
	max-height: $sm-square-frame;
}
.mx-auto {
	max-width: $md-square-frame;
}
.card {
	max-width: $sm-square-frame;
}
.no-show {
	display: none;
}
@media screen and (max-width: 769px) {
	.personal-info {
		p {
			margin: 15px;
		}
	}
	.personal-background {
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 320px) {
	.profile-pic {
		max-width: 75vw;
	}
	.nav {
		display: none;
	}
}
